#bloc-page
{
    width: 375px;   
}
#Searchbar
{
    width:335px;
}
#Search
{
    
    width: 230px;
}
.I_Inn_Frame
{
    width: 325px;
    
}
.I_Activity_Frame
{
    width: 335px;
}
#True_Footer
{
    flex-direction: column;
    text-align: left;
}