
#Searchbar
{
    width:88%;
}    
#Search
{
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.I_Inn_Frame
{
    width: 90%;
    
}
.I_Activity_Frame
{
    width: 90%;
}
#True_Footer
{
    flex-direction: column;
    text-align: left;
    width: 100%;
}