body
{
    height: auto;
}
nav
{
    width: auto;
}
#corpus
{
    height: auto;
}
#inn_n_popular
{
    height: auto;
}
#inn
{
    width: 62.5%;
    height: auto;
    margin-right: 2.5%;
}
#Inn_board
{
    flex-wrap: wrap;
    height: auto;
}
.I_Inn_Frame
{
    width: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#Popular_Board
{
    height: auto;
}
.I_Popular_Frame
{
    width: auto;
    max-height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#activity
{
    height: auto;
    margin-bottom: 5%;
}
#Activity_Board
{
    width: 100%;
    height:auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.I_Activity_Frame
{
    width: 45%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}

.I_Activity
{
    height: 135px;
    width: 100%;
}

