/* Load fonts */
@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway/Raleway-Thin.eot");
  src: url("Police/Raleway/Raleway-Thin.eot?#iefix") format("embedded-opentype"),
    url("Police/Raleway/Raleway-Thin.woff2") format("woff2"),
    url("Police/Raleway/Raleway-Thin.woff") format("woff"),
    url("Police/Raleway/Raleway-Thin.ttf") format("truetype"),
    url("Police/Raleway/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway/Raleway-ThinItalic.eot");
  src: url("Police/Raleway/Raleway-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("Police/Raleway/Raleway-ThinItalic.woff2") format("woff2"),
    url("Police/Raleway/Raleway-ThinItalic.woff") format("woff"),
    url("Police/Raleway/Raleway-ThinItalic.ttf") format("truetype"),
    url("Police/Raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway/Raleway-Bold.eot");
  src: url("Police/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("Police/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("Police/Raleway/Raleway-Bold.woff") format("woff"),
    url("Police/Raleway/Raleway-Bold.ttf") format("truetype"),
    url("Police/Raleway/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway/Raleway-SemiBold.eot");
  src: url("Police/Raleway/Raleway-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("Police/Raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("Police/Raleway/Raleway-SemiBold.woff") format("woff"),
    url("Police/Raleway/Raleway-SemiBold.ttf") format("truetype"),
    url("Police/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Raleway", Arial, "Times New Roman", Times, serif;
}
/*text Format*/
h2 {
  font-size: 1.4em;
  font-weight: bold;
}
p {
  font-weight: 600;
  display: block;
}
i :not(#H_footer_icon) /*icons Format */ {
  font-size: 1.4em;
}
/* links format*/
a {
  display: block;
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
.BlueStar {
  color: #0065fc;
}
.GreyStar {
  color: #d9d9d9;
}

/* page centering  */
body {
  margin: 0%;
  width: 100%;
}

/*the button bellow is only visible in the mobile version*/
#Searchpinbox {
  display: none;
}


/* Head includes the logo, the search bar, the filters and the small paragraph on the number of accommodations */
#head {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Box of the logo and the navigation*/
#Top {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
  
}

nav {
  display: flex;
  width: 27%;
  justify-content: space-around;
  font-size: 1.3em;
  text-decoration: none;
  color: #0065fc;
  font-weight: 600;
}
.T_box       /* Navigation box*/ {
  padding-top: 3%;
  color: #0065fc;
  text-align: center;
  border-top: solid white 3px;
  margin-left: 5%;
  margin-right: 5%;
}
.T_box:hover {
  border-top: solid #0065fc 3px;
}

#Bloc_Search {
  width: 100%;
}
#Searchbar  /* literally the Search bar */ {
  margin-top: 2%;
  justify-content: flex-start;
  width: 425px;
  height: 40px;
  display: flex;
  vertical-align: middle;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  background-color: #f2f2f2;
  border: solid 1px #f2f2f2;
}
#Searchbar input  /*format inside the form*/ {
  font-weight: 600;
  font-size: 1.2em;
  height: 40px;
  box-sizing: border-box;
}
#Search  /* Where you can write*/ {
  width: 60%;
  border-top: solid #f2f2f2 0.5px;
  border-bottom: solid #f2f2f2 0.5px;
  border-left: solid #f2f2f2 0.5px;
  border-right: none;
  height: 100%;
}
#Click_Search /* Search button */ {
  width: 30%;
  height: 100%;
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-style: none;
}

#Click_Search:hover {
  background-color: #3887ff;
}

#Click_Search:active {
  background-color: #8eb9fa;
}
#SP_1 /* Box of the pin icon */ {
  border: none;
  background-color: #f2f2f2;
  width: 10%;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}
.fa-map-marker-alt {
  font-size: 1.3em;
}
#Filters_bar {
  display: flex;
  vertical-align: middle;
  font-size: 1.1em;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}
#Filters {
  font-weight: 600;
  display: flex;
  width: 100%;
  margin-left: 2%;
}
#FP_box {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.F_box {
  display: flex;
  height: 47px;
  border: solid #f2f2f2 2px;
  border-radius: 50px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: white;
  padding: 0;
  white-space: nowrap;
  font-size: 0.8em;
  font-weight: 600;
  align-items: center;
  
}
.F_box:hover {
  background-color: #0065fc;
  color: white;
  border: solid #deebff 2px;
}

.Ficon {
  height: 41px;
  width: 41px;
  border: solid 3px #deebff;
  border-radius: 50px 50px 50px 50px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -1px;
}

.fas:not(#H_footer_icon) {
  margin-top: auto;
  margin-bottom: auto;
}
.F_Text
{
    margin-right: 7px;
    margin-left: 7px;
}

#H_Footer {
  display: flex;
  height: 50%;
  align-items: center;
}
#H_Footer_IconFrame {
  display: flex;
  border: solid #f2f2f2 2px;
  border-radius: 50px;
  padding: 5px 11px 5px 11px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  margin-right: 2%;
  margin-left: 2%;
}

#H_footer_icon {
  font-size: 1.4em;
  margin-top: auto;
  margin-bottom: auto;
  color: #0065fc;
}

/* End of the Header */

/* Corpus */

#corpus {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 1280px;
}

/* First article */

#inn_n_popular {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 3%;
}

/*Title and board */
#inn {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 620px;
  margin-right: 1%;
}

#H_Inn {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*board*/

#Inn_board {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 626px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

/*Frame of the board*/
.I_Inn_Frame {
  background-color: white;
  width: 30%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px 1px #dfdfdf;
  border: solid 2px white;
}
.I_Inn_Frame:hover {
  border: solid 2px #0065fc;
}
/* image in the frame */
.I_Inn {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  height: 112px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}
/* Text in the frame */
.Inn_Text p:not(.Inn_note) {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 3%;
}
.Inn_Text h4 {
  margin-top: 1.5%;
  margin-bottom: 4%;
  margin-left: 3%;
  margin-right: auto;
}
/* Stars in the frame */
.Inn_note {
  margin-top: 2%;
  margin-left: 3%;
}
/* "afficher plus*/
#More {
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 1.3em;
}
#More:hover {
  color: #0065fc;
  text-decoration: underline;
}

/* second article, same structure than the first one: Board - Frame - Image + text + notes */

#Popular {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 626px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1%;
  height: 100%;
  padding-bottom: 5px;
}
#H_Popular {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
}
#Popular_Board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.I_Popular_Frame {
  background-color: white;
  width: 90%;
  height: 144px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 1px 1px 1px #dfdfdf;
  border: solid 2px white;
}
.I_Popular_Frame:hover {
  border: solid 2px #0065fc;
}
.I_Popular {
  object-fit: cover;
  min-width: 127px;
  max-width: 127px;
  height: 93%;
  border-radius: 10px 0px 0px 10px;
  margin: 5px;
}

.Popular_Text {
  text-align: left;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.Popular_Text h4, p
{
  margin:0%;
}


/* Third section */
#activity 
{
  width: 100%;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
}
#Activity_Board {
  height: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* there is multiple frame in the activity board because they're not the same size, there's then, a class for each one and one class for all*/
.I_Activity_Frame
{
  box-shadow: 0px 1px 1px 1px #dfdfdf;
  border-radius: 10px;
  overflow: hidden;
  width: 23%;
}
.I_Activity_Frame:hover {
  background-color: #0065fc;
  color: white;
}
.I_Activity_Frame1 
{
    height: 445px;
}
.I_Activity
{
  object-fit: cover;
  width: 100%;
}
.I_Activity1
{
  height: 388px;
}

.I_Activity_Frame2 
{
  height: 236px;  
}

.I_Activity2 
{
  height: 180px;
}
.I_Activity_Frame3 
{
  height: 164px;
}
.I_Activity3
{
  height: 109px;  
}
.I_Activity_Frame4 
{
  height: 194px;
}

.I_Activity4 
{
  height: 140px;
}
.I_Activity_Frame5 
{
  height: 209px;
}

.I_Activity5 
{
  height: 153px;
}
.T_Activity
{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* the bottom of the page */
#True_Footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
  display: flex;
  justify-content: space-around;
}

li:hover {
  text-decoration: underline;
}
h5 {
  font-size: 1.2em;
}
ul {
  padding: 0%;
}
li {
  list-style: none;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 9%;
  margin-bottom: 9%;
}
